[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imagehash = "*"
pythonlemmy = "==0.3.0"
beautifulsoup4 = "*"
croniter = "*"
sqlalchemy = "*"
alembic = "*"
requests = "*"
pillow = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
